# **Library Imports**

In [1]:
# import numpy, pandas, seaborn, matplotlib, sklearn just because
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt

import sklearn 
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import accuracy_score ,mean_squared_error, roc_curve, roc_auc_score, classification_report, r2_score, confusion_matrix, f1_score
from sklearn.metrics import precision_recall_curve, precision_score, recall_score


#ignore warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('/Users/josephgrovers/Downloads/Metis - Project 3/Churn_Modelling.csv')

### Let's see what we're working with...

In [3]:
df.shape

(10000, 14)

In [4]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
df.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [7]:
df['Geography'].unique()

array(['France', 'Spain', 'Germany'], dtype=object)

In [8]:
df['Exited'].value_counts()

0    7963
1    2037
Name: Exited, dtype: int64

# Cleaning

We need to make dummies for the colulmns we want with object data-types. (geography & gender)

In [9]:
df=pd.concat([df, pd.get_dummies(df.Geography)], axis=1)
df=pd.concat([df, pd.get_dummies(df.Gender)], axis=1)

Now we can drop columns that don't help us, and also drop a couple dummy columns to use as a reference category.

For those reference categories, we will use *Spain* for geography & *Female* for gender.

In [10]:
df.drop(['RowNumber','CustomerId','Surname','Geography', 'Gender', 'Spain', 'Male'], axis=1, inplace=True)

In [11]:
# make columns lowercase
df.columns = map(str.lower, df.columns)

In [12]:
# add underscores between words in column names for readability
df = df.rename(columns = {'creditscore':'credit_score'})
df = df.rename(columns = {'numofproducts':'num_of_products'})
df = df.rename(columns = {'hascrcard':'has_cr_card'})
df = df.rename(columns = {'isactivemember':'is_active_member'})
df = df.rename(columns = {'estimatedsalary':'estimated_salary'})

In [13]:
# Making 'Exited' the last column in the dataframe
df['exitedtemp']=df['exited']
df.drop(['exited'], axis=1, inplace=True)
df['exited']=df['exitedtemp']
df.drop(['exitedtemp'], axis=1, inplace=True)

Data should now be cleaned, now let's check it out.

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   credit_score      10000 non-null  int64
 1   age               10000 non-null  int64
 2   tenure            10000 non-null  int64
 3   balance           10000 non-null  float64
 4   num_of_products   10000 non-null  int64
 5   has_cr_card       10000 non-null  int64
 6   is_active_member  10000 non-null  int64
 7   estimated_salary  10000 non-null  float64
 8   france            10000 non-null  uint8
 9   germany           10000 non-null  uint8
 10  female            10000 non-null  uint8
 11  exited            10000 non-null  int64
dtypes: float64(2), int64(7), uint8(3)
memory usage: 732.5 KB

In [15]:
df.shape

(10000, 12)

# Feature engineering

In [16]:
#  df['balance_over_salary'] = df['balance'] / df['estimated_salary']
#  df['balance_vs_products'] = df['balance'] / df['num_of_products']

Any feature engineering I tried didn't enhance model performance. I'll be sticking to the original columns.